body {
    font-family: sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
}

.highlight {
    background-color: yellow;
    font-weight: bond;
}

#item-list {
    margin-top: 10px;
}

button {
    margin-right: 10px;
}